<!DOCTYPE html>
<html>
<head>
    {% block title -%}
        <title>Поиск товаров</title>
    {% endblock %}

</head>
<body>
{% block content -%}
    <h1>Поиск товаров</h1>
    <form method="POST">
        <label for="product_name">Название товара:</label>
        <input type="text" id="product_name" name="product_name" value="{{ product_name }}">
        <button type="submit">Найти</button>
    </form>
{%- block searching -%}
    <h2>ищи себя:</h2>
{% endblock searching -%}
{% endblock content -%}
</body>
</html>

