{% extends 'index.html' %}

{% block searching %}
<h2>Результаты:</h2>
{% if products %}
<ul>
    {% for product in products %}
    <li>{{ product.name }} - {{ product.price }} руб. - <a href="{{product.href}}" target="_blank"> ссылка</a></li>
    {% endfor %}
</ul>
<table>
    <tr>
        <td>Название:</td>
        <td>цена (руб)</td>
        <td>ссылОчка</td>
    </tr>
    {% for product in products %}
    <tr>
        <td><img src="{{product.pic}}" alt="я джифка" width="100" height="70"></td>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td><a href="{{product.href}}" target="_blank"> ссылка</a></td>

    </tr>
    {% endfor %}
</table>
{% else %}
<p>Результатов пока нет</p>
{% endif %}


{% endblock %}
